/*Setting outline property to none for focused input  and textarea elements*/

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}


/*Setting Properties of the form element*/

.contact-form {
    position: absolute;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 70%;
    margin-left: 0.5%;
}

.contact-form .form-control {
    border-radius: 1em;
}


/*Setting the properties of the 3 input tags*/

.container .form-control {
    width: 120%;
    height: 60px;
    font-size: 20px;
    padding: 10px;
}

#content_1 {
    position: absolute;
    left: 15%;
    top: 42%;
}

.lines {
    border-right: medium none;
    border-top: 3px solid white;
    border-left: medium none;
    width: 330px;
    border-bottom: medium none;
    height: 10px;
}

#line1 {
    position: absolute;
    top: 28%;
    left: 75%;
}

#line2 {
    position: absolute;
    top: 47%;
    left: 75%;
}

#line3 {
    position: absolute;
    top: 67%;
    left: 75%;
}

#line4 {
    position: absolute;
    top: 87%;
    left: 75%;
}

#heading {
    position: absolute;
    font-size: 30px;
    left: 75%;
    top: 20%;
    color: white;
}

#content_0 {
    position: absolute;
    left: 27%;
    top: 35%;
    font-size: 30px;
}

#logo {
    position: absolute;
    text-align: center;
    top: 10%;
    left: 30%;
    height: 170px;
    width: 500px;
}

.contact {
    color: white;
    font-family: 'Verdana';
    font-size: 17px;
}

#contact_1 {
    position: absolute;
    left: 75%;
    top: 35%;
}

#contact_2 {
    position: absolute;
    left: 75%;
    top: 55%;
}

#contact_3 {
    position: absolute;
    left: 75%;
    top: 75%;
}


/*Setting vertical alignment of the name input*/

.container #Name {
    margin-top: 20px;
}


/* Setting properties for the displayed text */

.message {
    color: white;
    font-family: 'Verdana';
}


/*Setting the alignment properties of the text area*/

textarea {
    resize: none;
    margin-left: 450px;
    margin-top: 20px;
    width: 120%;
    border-radius: 1em;
    position: absolute;
    top: 0.0%;
    height: 65%;
    font-size: 18px;
    padding: 10px;
    font-family: "Arial"
}


/*Setting the vertical alignment of Email ID*/

.container #emailID {
    margin-top: 25px;
}

.container #no {
    margin-top: 28px;
}

.alignTop {
    vertical-align: middle;
}

.container #submit_but {
    margin-top: 40px;
}

.contact-form form {
    padding: 20%;
}

.contact-form .row {
    margin: -7%;
}

#submit_but:hover {
    background-color: #4CAF50;
    color: white;
    border: none;
    transition-duration: 0.5s;
}

.container .btnContact {
    width: 50%;
    border: 2px solid white;
    border-radius: 20px;
    padding: 3%;
    margin-left: 100%;
    font-size: 15px;
    background-color: transparent;
    color: white;
    font-weight: 600;
    cursor: pointer;
}


/* 
.button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
} */

body {
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url('/Images/contact_background.png');
}