            input:focus{
                outline: none;
            }
            
            
            /*Setting Properties of the form element*/
            .forgot_password-form{
                margin-top: 0.01%;
                margin-bottom:2%;
                width: 60%;
                padding-bottom: 10%;

            }
            .forgot_password-form .form-control{
                border-radius: 1em;

            }
            
            /*Setting the properties of the 3 input tags*/
            .container .form-control{
                width: 110%;
                height: 55px;
                font-size: 20px;
                padding: 10px;

            }
            
            /*Setting vertical alignment of the name input*/
            .container #emailID{
                margin-top: 25px;
                margin-left:130px;
            }
            /*Setting the vertical alignment of Email ID*/
            .container #password{
                margin-top: 25px;
                margin-left:130px;
            }
            .container #cpassword{
                margin-top: 25px;
                margin-left:130px;

            }
                .alignTop{
                vertical-align: middle;
            }
            .container #submit_but{
                margin-top: 35px;
                margin-left:195px; 
            }
            .forgot_password-form form{
                padding: 20%;
            }
            .forgot_password-form .row{
                margin: -7%;
            }
            #submit_but:hover{
                -webkit-transition-duration: 0.4s;
                background-color: #4CAF50;
                color: black;
                border: none;
                transition-duration: 0.5s;
            }
            .container .btnContact{
                width: 60%;
                border: 2px solid white;
                border-radius: 20px;
                padding: 3%;
                margin-left: 62%;
                font-size: 15px;
                background-color: transparent;
                color: white;
                font-weight: 600;
                cursor: pointer;
            }
            
            .button {
                -webkit-transition-duration: 0.4s; /* Safari */
                transition-duration: 0.4s;
            }
            .button:hover {
                background-color: #4CAF50; /* Green */
                color: white;
            }
            body{
                background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),url('fpass.jpeg');
                background-size: cover;
            }
            
            #div1{
                text-align:center;
            }
